.list-group-item {
    margin-top: 25px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    width: 100%;
}

.link {
    text-decoration: none;
    color: black;
}

.download-button {
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
    padding: 30px 70px;
    display: flex;
    justify-content: center;
}

.download-button:hover {
    background-color: rgb(221, 221, 221);
}

.download-button:active {
    background-color: white;
    border: 3px solid rgb(221, 221, 221);
}

.download-button:focus {
    border: 3px solid rgb(221, 221, 221);
}
/* 
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .download-button {
        padding: 5vw 10vw;
        display: flex;
        justify-content: center;
    }
    .protocol_text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .list-group-item {
        margin-left: -5vw;
    }
} */
/* @media screen and (min-width: 899px) and (max-width: 1919px) {
    .list-group-item {
        margin-top: 95px;
    }
}
@media screen and (min-width: 1920px) {
    .list-group-item {
        margin-top: 105px;
    }
}
@media screen and (max-width: 899px) {
    .list-group-item {
        margin-top: 95px;
    }
} */