.wrapper {
    display: flex;
    flex-direction: row;
}

.files_list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.file_link {
    text-decoration: none;
}

.table-wrapper {
    min-width: 50%;
    max-width: 120%;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    justify-content: center;
}
.pagination-box:hover {
    transform: slace(2);
}

.MuiPagination-ul {
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 15px;
    width: 100%;
    margin-top: -25px;
}
