@import url('https://rsms.me/inter/inter.css');
@import url(//db.onlinewebfonts.com/c/4b62ecafef4891c98fcd1e473603fd2a?family=BUIS);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.button_patient {
    border: none;
    background-color: transparent;
}

.container {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.choose-file-title {
    font-size: 20px;
    text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .choose-file-title {
        font-size: 4vw;
    }
}
