@import url('https://rsms.me/inter/inter.css');

.forget_form {
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 5vh;
}

.forget_text_input {
    color: #222222;
    width: 100%;
    padding: 12px 60px;
    padding-bottom: 0px;
    margin: 8px 0;
    margin-top: 28px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #222222;
    background: url(/src/assets/emmm.svg) no-repeat left center;
    background-color: transparent;
    font-family: 'Inter', cursive;
    font-weight: 400;
    font-size: 22px;
    line-height: 47px;
}

.forget_submit {
    position: relative;
    width: 377px;
    height: 50px;
    background: #48535f;
    border: 2px solid #48535f;
    margin-top: 70px;
    padding-top: 1px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Inter', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    color: #ffffff;
}

.forget-password-text{
    font-family: 'Inter', cursive;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #222222;
    line-height: 100px;
}

.login_submit:hover {
    cursor: pointer;
}

.image-form-division-forget {
    display: grid;
    grid-template-columns: 45vw 48vw;
    margin: 3vw;
    max-height: 87vh;
    min-height: 87vh;
}


.image-forget {
    background: url('../../assets/image 27.svg') center no-repeat;
    background-size: 42vw 90vh;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .forget_form {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5vh;
    }

    .forget_text_input {
        color: #222222;
        width: 100%;
        padding: 12px 70px;
        padding-bottom: 0px;
        margin: 8px 2px;
        margin-top: -5px;
        box-sizing: border-box;
        border: none;
        border-bottom: 3px solid #222222;
        background: url(/src/assets/emmm.svg) no-repeat left center;
        background-color: transparent;
        font-family: 'Inter', cursive;
        font-weight: 400;
        font-size: 22px;
        line-height: 60px;
    }

    .forget_submit {
        position: relative;
        width: 160px;
        height: 40px;
        background: #48535f;
        border: 2px solid #48535f;
        margin-top: 20px;
        padding-top: 1px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-family: 'Inter', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 37px;
        color: #ffffff;
    }

    .login_submit:hover {

    }

    .image-forget {
        display: none;
    }


    .forget-password-text {
        padding-top: 5%;
        margin-right: 20%;
        margin-left: 20%;
        font-weight: normal;
        font-size: 24px;
        line-height: 37px;
    }

    .image-form-division-forget {

        grid-template-columns: 100vw 100vw;


    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
    .forget_form {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5vh;

    }

    .forget-password-text{
        margin-top: 60px;
        padding-left: 20px;
    }

    .forget_text_input {
        color: #222222;
        width: 100%;
        padding: 12px 70px;
        padding-bottom: 0px;
        margin: 8px 2px;
        margin-top: -5px;
        box-sizing: border-box;
        border: none;
        border-bottom: 3px solid #222222;
        background: url(/src/assets/emmm.svg) no-repeat left center;
        background-color: transparent;
        font-family: 'Inter', cursive;
        font-weight: 400;
        font-size: 22px;
        line-height: 60px;
    }

    .forget_submit {
        position: relative;
        width: 160px;
        height: 40px;
        background: #48535f;
        border: 2px solid #48535f;
        margin-top: 20px;
        padding-top: 1px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-family: 'Inter', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 37px;
        color: #ffffff;
    }

    .login_submit:hover {

    }

    .image-forget {
        display: none;
    }


    .forget-password-text {
        padding-top: 5%;
        margin-right: 20%;
        margin-left: 20%;
        font-weight: normal;
        font-size: 24px;
        line-height: 37px;
    }

    .image-form-division-forget {

        grid-template-columns: 100vw 100vw;


    }
}