.login_form{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 15vh;
}
.login_text_input {
    color: #445F7A;
    width: 100%;
    padding: 12px 20px;
    padding-bottom: 0px;
    margin: 8px 0;
    margin-top: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #445F7A;
    background-color: transparent;
    font-family: 'Salsa', cursive; 
    font-weight: 400;
    font-size: 30px;
    line-height: 47px;
  }

  .login_checkbox {
    display: none;

  }
  
.remember label {
    top: 30px;
    color: #445F7A;
    position: relative;
    font-family: 'Salsa', cursive; 
    font-weight: 400;
    font-size: 25px;
    padding-left: 140px;
    padding-top: 65px;
  }
  
 .remember label::before {
    content: "";
    background: url('../../assets/Vector(2).png');
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 80px;
    top: 60px;
  
    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
  }
  
  .remember input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotateZ(0deg);
  }

  .remember label::after {
    content: "";
    border: 2px solid #2E3A59;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 82px;
    top: 62px;
    border-radius: 50%;
  }
.login_submit{
        position: absolute;
        width: 380px;
        height: 50px;
        background: #7189BF;
        border: 2px solid #2A475B;
        box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-top: 300px;
        font-family: 'Salsa', cursive; 
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 37px;
        color: #D5E7FB;
}
.login_links{
    padding-top: 230px;
    display: flex;
    flex-direction: column;
    font-family: Salsa;
    font-weight: 400;
    font-size: 25px;
    color: #445F7A;
}