@import url('https://rsms.me/inter/inter.css');

.image-form-division {
    display: grid;
    grid-template-columns: 45vw 48vw;
    margin: 3vw;
    max-height: 87vh;
    min-height: 87vh;
}
.form {
    background-color: #f8fcff;
}
.sign-up-text {
    font-family: 'Inter', cursive;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #222222;
    line-height: 100px;
}
.image {
    background: url('../../assets/image 27.svg') center no-repeat;
    background-size: 42vw 90vh;
}

.login_form {
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 5vh;
}
.login_text_input {
    color: #222222;
    width: 100%;
    padding: 12px 60px;
    padding-bottom: 0px;
    margin: 8px 0;
    margin-top: 28px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #222222;
    background: url(/src/assets/emmm.svg) no-repeat left center;
    background-color: transparent;
    font-family: 'Inter', cursive;
    font-weight: 400;
    font-size: 22px;
    line-height: 47px;
}
.login_text_input_second {
    color: #222222;
    width: 100%;
    padding: 12px 60px;
    padding-bottom: 0px;
    margin: 8px 0;
    margin-top: 28px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #222222;
    background-color: transparent;
    background: url(/src/assets/pass.svg) no-repeat left center;
    font-family: 'Inter', cursive;
    font-weight: 400;
    font-size: 22px;
    line-height: 47px;
}
.login_checkbox {
    display: none;
}
.still_no_acc {
    margin-left: 22%;
    padding-top: 70px;
    padding-bottom: 10px;
    color: #48535f;
    font-weight: 300;
    display: flex;
    
    font-family: 'Inter';
    font-size: 20px;
}

.login_link_reg {
    flex-direction: column;
    font-weight: 500;
    color: grey;
    text-decoration: none;
}
.login_link_reg:hover {
    color: #48535f;
}
.forgot_password {
    margin-left: 22%;
    display: flex;
    color: #48535f;
    font-weight: 300;
    font-family: 'Inter';
    font-size: 20px;
}

input:focus {
    outline: none;
}
input.slide-hover-left-3 {
    width: 377px;
    height: 50px;
    border: 2px solid #48535f;
    margin-right: auto;
    margin-left: auto;
    line-height: 37px;
    font-family: 'Inter', cursive;
    border: 1px solid #48535f;
    color: #48535f;
    margin-top: 70px;
    font-size: 24px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    background-image: linear-gradient(0, #48535f, #48535f);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

input.slide-hover-left-3:hover {
    background-size: 100%;
    color: #fff;
}


.sign-in-text {
        font-family: 'Inter', cursive;
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        color: #222222;
        line-height: 100px;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .forgot_password {
        margin-left: 23%;
        padding-top: 7vw;
        display: flex;
        flex-direction: column;
        font-size: 6vw;
    }
    .still_no_acc {
        margin-left: 23%;
        padding-top: 12vw;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        font-size: 6vw;
    }
    .signin_line_break{
        display: initial;
    }
    .image-form-division {
        display: initial;
        max-height: 150vh;
        min-height: 100vh;
        margin-bottom:0px;
    }

    .login_form {
        margin-top: -8vh;


    }
    .form {
        background-color: #f8fcff;
        min-height: 91vh;

    }
    .image {
        display: none
    }
    .sign-in-text {
        font-size: 6vw;
        line-height: 20vh;

    }
    .login_form {
        margin-left: 17%;
        margin-right: 17%;
    }
    .login_text_input::placeholder{
        color: #f8fcff;
    }
    .login_text_input_second::placeholder {
        color: #f8fcff;

    }
    .login_text_input{
        width: 100%;
        border-bottom: 1.8px solid #48535F;
        background-size: 10vh 9vw;
        line-height: 37px;
        padding: 12px 0% 12px 17%;
        padding-bottom: 0px;
        font-size: 6vw;
        margin: 13px 0;
        background-position: left -10% bottom 3vw;


    }
    .login_text_input_second{
        width: 100%;
        border-bottom: 1.8px solid #48535F;
        background-size: 10vh 12vw;
        line-height: 37px;
        padding: 12px 0% 12px 17%;
        padding-bottom: 0px;
        font-size: 6vw;
        margin: 13px 0;
        background-position: left -7% bottom 1vw;

    }
    input.slide-hover-left-3 {
        width: 65%;
        height: 11vw;
        margin-top: 8vh;
        font-size: 6vw;
        font-weight: 400;
    }

   
    @media only screen and (min-device-width : 390px) and (max-device-width : 480px) {

        .still_no_acc {
            margin-left: 7%;
            margin-right: 7%;

            padding-top: 70px;
            padding-bottom: 10px;
            color: #48535f;
            font-weight: 300;
            display: flex;
            flex-direction: row;
            font-family: 'Inter';
            font-size: 4.5vw;
        }
        .login_text_input{
            padding-bottom: 1vw;
            background-position: left -5% bottom 3vw;
        }
        .login_text_input_second{
            padding-bottom: 1vw;
            background-position: left -2% bottom 1vw;
    
        }
        .forgot_password {
            margin-left: 7%;
            margin-right: 7%;

            color: #48535f;
            font-weight: 300;
            display: flex;
            flex-direction: row;
            font-family: 'Inter';
            font-size: 4.5vw;
        }

    }



}

@media screen and (min-width:800px) and (max-width:1300px){
    .image-form-division {
        flex-direction: column;
        grid-template-columns: none;
       
    }
}

