.buttons-template{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
} 

.buttons-template-private{
    margin-right: 35px;
    background: transparent;
    outline:none;
    display:block;
    height:50px;
    width:200px;
    cursor:pointer;
    font-size: 24px;
    border-radius: 3px;
    margin-top: 15px;
    color: #EF4F59;
    border: none;
}


.buttons-template-public{
    font-size: 24px;
    background:transparent;
    outline:none;
    display:block;
    height:50px;
    width:250px;
    cursor:pointer;  
    font-size: 24px;
    border-radius: 3px;
    margin-top: 15px;
    border: none;
    color: #48535F;

}
.buttons-template-public:hover{
    transform: scale(1.1);
    transition: 0.3s;

}
.buttons-template-private:hover{
    transform: scale(1.1);
    transition: 0.3s;

}
