.template_link {
    background: transparent;
    color: #EF4F59;
    padding: 1em 1em;
    border: 1px solid #ef4f59;
    cursor: pointer;
    margin-left: 60%;
    /* margin-right: 30px; */
    /* margin-top: -20px; */
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    font-size: 22px;
    width: 28%;
    height: 1%;
    position: absolute;
    text-align: center;

  }
  .template_link.btn-background-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #ef4f59;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: center;
  }
  
  .template_link.btn-background-slide:hover::before {
    transform: scaleX(1);
  }
  
  .template_link.btn-background-slide {
    transition: color 300ms ease-in-out;
    z-index: 1;
  }
  
  
  .template_link.btn-background-slide:hover {
    color: white;
  }
.template_place {
    width: 200px;
    height: 110px;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    overflow: hidden;
    padding: 20px;
    margin: 55px;
    transition: 0.5s linear;
    box-shadow: none;

}
.template_place:hover{
    cursor: pointer;

}
.template-grid {
    display: flex;
    flex-wrap: wrap;
}

.template_img {
    margin-left: 180px;
}
.template_img:hover {
    cursor: pointer;
        
    }
.template_categories {
    font-weight: bold;
}
.template_title {
    display: flex;
    flex-direction: row;
}

.templates_string {
    margin-right: 60px;
    margin-left: 120px;
    font-size: 24px;
}
@media screen and (min-width: 800px) and (max-width:1298px){
    .templates_string {
        margin-right: 60px;
        margin-left: 120px;
        font-size: 20px;
        margin-top: 20px;
        
    }
    .template_link {
       
        width: 25%;
        height: 2.6%;
        font-size: 17px;
        margin-left: 60%;
        /* margin-top: 20px; */
        text-align: center;
}
}