/* #template{
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */
.template_place {
    width: 200px;
    height: 110px;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    overflow: hidden;
    padding: 20px;
    margin: 55px;
    transition: 0.5s linear;
}
.template_place {
    box-shadow: none;
}
.template_img {
    margin-left: 180px;
}
.template_categories {
    font-weight: bold;
}
.template_title {
    display: flex;
    flex-direction: row;
}
.template_link {
    background: rgba(239, 79, 89, 0.71);
    border: 1px solid #ef4f59;
    width: 350px;
    height: 40px;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
}
.templates_string {
    margin-right: 60px;
    margin-left: 120px;
    font-size: 24px;
}
.template-grid {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 800px) and (max-width:1298px){
    .templates_string {
        margin-right: 60px;
        margin-left: 120px;
        font-size: 20px;
        margin-top: 20px;
    }
    .template_link {
       
        width: 300px;
        height: 43px;
        font-size: 17px;
        margin-right: 90px;
        margin-top: 20px;
}
}
