.template-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: auto;
}

.template_categories {
    font-weight: bold;
}

.choose_create_way {
    padding-top: 30px;
    color: #48535f;
    font-weight: 300;
    display: flex;
    font-family: 'Inter';
    font-size: 24px;
    justify-content: center;
}
.or_italic {
    font-style: italic;
}
.new_program_way {
    font-weight: 500;
    text-decoration: none;
    color: #ef4f59;
}
.new_program_way:hover {
    font-weight: 600;
    text-decoration: none;
    color: #ef4f59;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .choose_create_way {
        padding-top: 30px;
        color: #48535f;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        font-family: 'Inter';
        font-size: 5vw;
        justify-content: center;
        align-items: center;
    }
}
