@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

.add_patient_button:hover{
    transform: scale(1.3);
    transition: 0.2s;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .add_patient_button {
        position: relative;
        margin-top: -20px;
        margin-right: -110px;;

    }


}

@media only screen and (min-device-width : 415px)   {
    .add_patient_button {
        position: relative;
        margin-top: -20px;
        margin-right: -20px;;

    }

}
