/*@import url('https://rsms.me/inter/inter.css');*/
@import url(//db.onlinewebfonts.com/c/4b62ecafef4891c98fcd1e473603fd2a?family=BUIS);

.grey_bg {
    background-color: #EEE;
}

.kid_info {

}

.kid_info h5 {
    font-size: 26px;
    font-weight: bold;
}

.kid_info h6 {
    font-size: 18px;
    margin: 20px 0 20px 16px;

}

.kid_info p {
    padding: 10px 0 10px 16px;
    font-size: 16px;
    font-weight: bold;
}

.kid_info span {
    margin-left: 16px;
    font-weight: normal
}


/* !======================================= */
.icon_patient {
    cursor: pointer;
    margin: 0.5rem;
    width: 1rem;
    height: 1rem;
    background-color: transparent !important;
}

.icon_patient:hover {
    transform: scale(1.2);
    transition: 0.1s;
}

.therapist_container {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add_therapist_container {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 20px;
    gap: 5px;
}

.add_therapist_input {
    width: 300px;
    border: 1px solid #eee;
    padding-left: 10px;
    font-size: 20px;
}

.add_therapist_input::placeholder {
    color: #48535f;
}

.add_therapist_input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #48535f;
}

.add_therapist_input::-moz-placeholder {
    /* Firefox 19+ */
    color: #48535f;
}

.add_therapist_input:-ms-input-placeholder {
    /* IE 10+ */
    color: #48535f;
}

.add_therapist_input:-moz-placeholder {
    /* Firefox 18- */
    color: #48535f;
}

.add_therapist_button {
    font-size: 24px;
    font-weight: 600;
    color: #48535f;
    background-color: transparent;
    border: 1px solid #eee;
    height: 40px;
    width: 40px;
}

.patient_grid_container {
    display: grid;
    grid-template-columns: 17vw auto auto;
    gap: 5vw;
    margin-right: 70px;
    margin-left: 8rem;
    margin-top: 1rem;
}

.add_therapist_button:hover {
    background-color: #eeeeee;
}

.patients_link {
    color: #222222;
    text-decoration: none;
    font-size: 25px;
}

.column_outer_flex_container {
    display: flex;
    flex-direction: column;
}

.diagnosis_flex_container {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    line-height: 85px;
}

.zebra_rows_flex_container {
    display: grid;
    grid-template-columns: 210px auto;
    font-size: 24px;
    padding-left: 10px;
    margin-left: -15px;
    line-height: 40px;
}

.zebra_rows_flex_container_value {
    color: #666666;
}

.second_column_outer_flex_container {
    display: flex;
    flex-direction: column;
    margin-top: 128px;
}

.patient_page_buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    gap: 50px;
}

.patient_page_button_create_info {
    background-color: #48535f;
    border: none;
    color: white;
    padding: 0.5em 0.75em;
    font-size: 20px;
    font-weight: 500;
}

.patient_page_button_create_info:hover {
    color: white;
    background: #36404b;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(1.07);
    transition: 0.4s;
    cursor: pointer;
}

.patient_page_buttons_therapy {
    background-color: #48535f;
    color: white;
    padding: 0.5em 0.75em;
    /*text-decoration: none;
    min-width: 200px; */
}

.patient_page_buttons_therapy:hover {
    color: white;
    background: #36404b;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(1.07);
    transition: 0.4s;
}

.patient_page_buttons_therapy:active {
    color: white;
    background: #36404b;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(1.07);
    transition: 0.4s;
}

.patient_page_buttons_program {
    background-color: #48535f;
    color: white;
    padding: 0.5em 0.75em;
}

.patient_page_buttons_program:hover {
    color: white;
    background: #36404b;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(1.07);
    transition: 0.4s;
}

.patient_page_buttons_program:active {
    color: white;
    background: #36404b;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(1.07);
    transition: 0.4s;
}

.viewmore_patient {
    color: white;
    text-decoration: none;
}

.child_image {
    width: 100%;
    /*margin-top: 80px;*/
}

.mobile_child_image {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .add_therapist_input {
        width: 70%;
        border: 1px solid #eee;
        padding-left: 10px;
        font-size: 15px;
    }

    .no_left {
        margin-left: -8vw;
    }

    .icon_place_therapist {
        width: 97%;
        height: 35%;
        background-color: transparent;
    }

    .second_column_outer_flex_container {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .therapist_container {
        font-size: 20px;
        margin-left: 60vw;
        margin-right: 20vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 50vw;
    }

    .therapist_info {
        margin-left: -60vw;
    }

    .patient_grid_container {
        display: flex;
        flex-direction: column;
        gap: 0vw;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
    }

    .grey_back {
        background-color: #eeeeee;
        height: 200vh;
    }

    .diagnosis_flex_container {
        font-size: 5vw;
        margin-left: -1vw;
    }

    .berrier {
        height: 100px;
    }

    .mobile_child_image {
        display: initial;
        max-width: 100vw;
        max-height: 100vw;
    }

    .column_outer_flex_container {
        display: initial;
        margin-left: 0vw;
        margin-right: 0vw;
        padding-bottom: 50px;
    }

    .kid_name {
        font-size: 8vw;
        line-height: 11vw;
    }

    .child_image {
        /*display: none;*/
    }

    .grey_back {
        background: #eeeeee;
        margin-top: -10px;
        min-height: 150vh;
        max-height: 1000vh;
    }

    .patient_page_buttons {
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 20px;
        font-weight: 600;
        justify-content: center;
        gap: 2.5vh;
        width: 70vw;
        margin-left: -5vw;
        margin: auto;
    }

    .zebra_rows_flex_container {
        display: grid;
        grid-template-columns: 40% auto;
        font-size: 5vw;
        padding-left: 10px;
        line-height: 8vw;
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 70vw;
        max-width: 70vw;
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
        .therapist_container {
            font-size: 3vw;
        }

        .icon_place_therapist {
            width: 50%;
            height: 20%;
            background-color: transparent;
        }
    }
    @media only screen and (min-device-width: 500px) and (max-device-width: 800px) {
        .diagnosis_flex_container {
            font-size: 5vw;
        }

        .mobile_child_image {
            display: none;
        }

        .child_image {
            /*display: initial;*/
            /*margin-top: 20px;*/
        }

        .kid_name {
            margin-top: 3vw;
        }

        .zebra_rows_flex_container {
            display: grid;
            grid-template-columns: 40% auto;
            font-size: 5vw;
            padding-left: 10px;
            line-height: 8vw;
            padding-top: 10px;
            padding-bottom: 10px;
            min-width: 75vw;
            max-width: 75vw;
        }
    }
}

@media screen and (min-width: 1300px) {
    .patient_grid_container {
        display: grid;
        grid-gap: 5vw;
        gap: 5vw;
        margin-right: 70px;
        margin-left: 8rem;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .patient_grid_container {
        flex-direction: column;
        grid-template-columns: none;
    }

    .second_column_outer_flex_container {
        margin-top: 5px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
    .patient_grid_container {
        flex-direction: column;
        grid-template-columns: none;
    }

    .second_column_outer_flex_container {
        margin-top: 5px;
        margin-right: 400px;
    }

    .column_outer_flex_container {
        margin-right: 120px;
    }
}
