.patient_upper_flex_container {
    /*margin-bottom: 60px;*/
    display: flex;
    flex-direction: row;
}
.create_element {
    margin-right: 50px;
    margin-left: 50px;
}

.protocol_item_text {
    width: 78%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    align-self: center;
    right: 0%;
    position: relative;
    color: #000000;
}

.protocol_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 87%;
    height: 3rem;
    margin: 0.5rem 0rem 0rem 3.3rem;
}
.protocol_item:hover {
    transform: scale(1.004);
    transition: 0.2s;
}

.icon_place {
    width: 18.5%;
    align-self: center;
    justify-content: space-around;
    height: 1.75rem;
    display: flex;
    flex-direction: row;
}

.edit_icon {
    cursor: pointer;
}

.icon {
    cursor: pointer;
    margin: 0.5rem;
    width: 1rem;
    height: 1rem;
}
.icon:hover {
    transform: scale(1.2);
    transition: 0.1s;
}
.add-proto {
    position: absolute;
    right: 10%;
    top: 9rem;
    color: grey;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}
.add-proto:hover {
    transform: scale(1.2);
    transition: 0.2s;
}
.add-foto {
    margin: 0.7rem 0.7rem 0.7rem 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
}

.control-panel {
    display: flex;
    align-items: center;
}

.create_template_button {
    background: transparent;
    color: #ef4f59;
    border: 1px solid #ef4f59;
    cursor: pointer;
    margin-left: 1000px;
    margin-right: 30px;
    margin-top: -45px;
    font-family: Inter;
    font-weight: 500;
    line-height: 12px;
    font-size: 22px;
    width: 270px;
    height: 40px;
    position: absolute;
}
.create_template_button.btn-background-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #ef4f59;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: center;
}

.create_template_button.btn-background-slide:hover::before {
    transform: scaleX(1);
}

.create_template_button.btn-background-slide {
    transition: color 300ms ease-in-out;
    z-index: 1;
}

.create_template_button.btn-background-slide:hover {
    color: white;
}
.go_icon {
    transform: scale(1.5);
}
.go_icon:hover {
    transform: scale(1.8);
}
.edit_icon:hover {
    transform: scale(3.5);
    transition: 0.1s;
}
.edit_icon {
    position: relative;
    transform: scale(3);
    width: 1vw;
    height: 1vw;
}
.add-proto-mobile {
    position: relative;
    top: -1000px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .add-proto-mobile:hover {
        transform: scale(2.5);
        transition: 0.2s;
        margin-top: -2vw;
        margin-left: 81vw;
    }
    .add-proto-mobile {
        position: relative;
        right: 0%;
        top: 0rem;
        color: grey;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        margin-top: -3vw;
        margin-left: 80vw;
        transform: scale(2);
    }
    .create_template_button {
        background: transparent;
        color: #ef4f59;
        padding: 0.5em 1em;
        margin-left: 9vw;
        margin-right: 0px;
        margin-top: 5vw;
        font-size: 4vw;
        width: 50%;
        height: 9vw;
        position: relative;
    }
    .go_icon {
        position: relative;
        top: 1vw;
    }
    .go_icon:hover {
        top: 1.5vw;
    }
    .edit_icon:hover {
        transform: scale(3.5);
        transition: 0.1s;
        top: 3.2vw;
    }
    .edit_icon {
        position: relative;
        top: 3vw;
        transform: scale(3);
        width: 10vw;
        height: 10vw;
        margin-top: 30px;
    }

    .icon_place {
        margin-top: 5%;
        margin-bottom: 2%;
        width: 97%;
        height: 9vw;
        background-color: #eeeeee;
    }
    .icon {
        cursor: pointer;
        margin: 7vw;
        margin-top: 0;
        padding-top: 3vw;
        padding-bottom: 6vw;
        margin-bottom: 0;
        width: 3vw;
        height: 3vw;
    }
    .control-panel {
        display: flex;
        align-items: left;
        background-color: #9b2f2f;
    }
    .patient_upper_flex_container {
        display: none;
    }
    .protocol_item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border: solid #aaaaaa 1.4px;
        background-color: #fff !important;
        margin: auto;
        margin-bottom: 20px;
    }
    .protocol_item_text {
        width: 78%;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 4vw;
        margin-bottom: -1vw;
        align-self: center;
        padding-top: -50px;
        line-height: 5vw;
        right: 0%;
        position: relative;
        color: #000000;
    }
    .add_protocol {
        height: 15vw;
        border: solid #aaaaaa 1px;
        display: flex;
        flex-direction: row;
        width: 87%;
        margin: 0.5rem 0vw 0rem 6vw;
        margin-left: 6.5vw;
    }

    .add_protocol_text {
        font-size: 5vw;
        padding-top: 4%;
        padding-left: 4%;
    }
    .add_protocol_img {
        height: 10vw;
        padding-left: 10%;
        padding-top: 2%;
    }
    @media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
        .add-proto-mobile {
            margin-top: 0vw;
            transform: scale(3);
        }
        .add-proto-mobile:hover {
            transform: scale(3.6);
            transition: 0.2s;
            margin-top: 1vw;
            margin-left: 81vw;
        }
    }
}

@media screen and (min-width: 1300px) {
    .create_template_button {
        background: transparent;
        color: #ef4f59;
        padding: 0.5em 1em;
        border: 1px solid #ef4f59;
        cursor: pointer;
        margin-left: 800px;
        margin-right: 30px;
        margin-top: -65px;
        font-family: Inter;
        font-weight: 500;
        line-height: 22px;
        font-size: 22px;
        width: 200px;
        height: 60px;
        position: absolute;
    }
    .add-proto {
        top: 7.5rem;
    }
}
@media screen and (min-width: 1920px) {
    .create_template_button {
        background: transparent;
        color: #ef4f59;
        padding: 0.5em 1em;
        border: 1px solid #ef4f59;
        cursor: pointer;
        margin-left: 1300px;
        margin-right: 20px;
        margin-top: -65px;
        font-family: Inter;
        font-weight: 500;
        line-height: 22px;
        font-size: 22px;
        width: 300px;
        height: 60px;
        position: absolute;
    }
    .add-proto {
        margin-top: 2.5rem;
    }
}
@media screen and (min-width: 800px) and (max-width: 1300px) {
    .edit_icon {
        width: 1.7vw;
        height: 1.7vw;
    }
    .create_element {
        margin-top: 90px;
    }
    .create_template_button {
        margin-left: 200px;
        margin-top: 5px;
    }
    @media screen and (min-width: 1000px) and (max-width: 1300px) {
        .edit_icon {
            width: 1.3vw;
            height: 1.3vw;
        }
    }
}
