.protocol_item_text {
    width: 78%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    align-self: center;
    right: 0%;
    position: relative;
    color: #000000;
}

.protocol_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 87%;
    height: 3rem;
    margin: 0.5rem 0rem 0rem 3.3rem;
}
.protocol_item:hover {
    transform: scale(1.004);
    transition: 0.2s;
}

.icon_place {
    width: 18.5%;
    align-self: center;
    justify-content: space-around;
    height: 1.75rem;
    display: flex;
    flex-direction: row;
}

.icon-edit {
    cursor: pointer;
    margin: 0.2rem;
}

.icon {
    cursor: pointer;
    margin: 0.5rem;
    width: 1rem;
    height: 1rem;
}
.icon:hover {
    transform: scale(1.2);
    transition: 0.1s;
}
.add-proto {
    position: absolute;
    right: 10%;
    top: 9rem;
    color: grey;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}
.add-proto:hover {
    transform: scale(1.2);
    transition: 0.2s;
}
.add-foto {
    margin: 0.7rem 0.7rem 0.7rem 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
}

.control-panel {
    display: flex;
    align-items: center;
}

.create_template_button {
    background: transparent;
    color: #ef4f59;
    padding: 0.5em 1em;
    border: 1px solid #ef4f59;
    cursor: pointer;
    margin-left: 1000px;
    margin-right: 30px;
    margin-top: -45px;
    font-family: Inter;
    font-weight: 500;
    line-height: 12px;
    font-size: 22px;
    width: 270px;
    height: 40px;
    position: absolute;
}
.create_template_button.btn-background-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #ef4f59;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: center;
}

.create_template_button.btn-background-slide:hover::before {
    transform: scaleX(1);
}

.create_template_button.btn-background-slide {
    transition: color 300ms ease-in-out;
    z-index: 1;
}

.create_template_button.btn-background-slide:hover {
    color: white;
}
@media screen and (min-width: 1300px) {
    .create_template_button {
        background: transparent;
        color: #ef4f59;
        padding: 0.5em 1em;
        border: 1px solid #ef4f59;
        cursor: pointer;
        margin-left: 800px;
        margin-right: 30px;
        margin-top: -65px;
        font-family: Inter;
        font-weight: 500;
        line-height: 22px;
        font-size: 22px;
        width: 200px;
        height: 60px;
        position: absolute;
    }
    .add-proto {
        top: 7.5rem;
    }
}
@media screen and (min-width: 1920px) {
    .create_template_button {
        background: transparent;
        color: #ef4f59;
        padding: 0.5em 1em;
        border: 1px solid #ef4f59;
        cursor: pointer;
        margin-left: 1300px;
        margin-right: 20px;
        margin-top: -65px;
        font-family: Inter;
        font-weight: 500;
        line-height: 22px;
        font-size: 22px;
        width: 300px;
        height: 60px;
        position: absolute;
    }
    .add-proto {
        margin-top: 2.5rem;
    }
}
