.mobile_home_link_templates {
    display: none;
}
.place_right_horizontal {
    display: flex;
    justify-content: right;
}
.patient_number {
    color: var(--lightgrey);
    font-size: 20px;
}
.plus_button {
    color: var(--darkgrey);
}
.plus_button:hover {
    transform: scale(1.1);
    
}
