.mobile_home_link_templates {
    display: none;
}
.place_right_horizontal {
    display: flex;
    justify-content: right;
}
.patient_number {
    color: var(--lightgrey);
    font-size: 20px;
    margin-bottom: 1em;

}
.plus_button {
    color: var(--darkgrey);
}
.plus_button:hover {
    transform: scale(1.1);
    
}
@media screen and (min-width: 0px) and (max-width: 768px) {
    .patient_number {
        display: none;
    }
    .plus_button {
        display: none;
    }
}

