.info_title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.add_patient_btn {
    border-radius: 50%;
    background-image: none;
    background: transparent;
    background-color: transparent;
}
