* {
    box-sizing: border-box;
}

.patient_general_link {
    display: inline-block;
    width: 100%;
    padding: 14px;
    margin: 14px;
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(12, 26, 75, 0.24);

}
.patient_general_link:hover {
    transform: scale(1.01);
    box-shadow: 0 0 4px rgba(12, 26, 75, 0.5);
}


.button_container {
    display: flex;
    justify-content: center;
}
.button-view-patient {
    background: #48535f;
    padding: 6px 0;
    display: block;
    border-radius: 3px;
    color: white;
}

.patient_image {
    width: 100%;
    object-fit: cover;
}
.button-view-patient:hover {
    text-decoration: none;
    background: #36404b;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.patient_name {
    color: #16192c;
    margin: 14px 0;
    /*font-style: normal;*/
    /*margin-bottom: 1em;*/
}

/*@media screen and (min-width: 0px) and (max-width: 768px) {*/
/*    .hover_patient {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        background: #ffffff;*/
/*        width: 80vw;*/
/*        height: 10em;*/
/*        box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),*/
/*            0px 3px 8px -1px rgba(50, 50, 71, 0.05);*/
/*        border-radius: 2px;*/
/*        margin-right: 1vw;*/
/*        margin-left: 1vw;*/
/*        margin-bottom: 2vw;*/
/*    }*/
/*    .patient_general_link {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*    }*/
/*    .patient_image_mobile {*/
/*        display: initial;*/
/*    }*/
/*    .patient_image {*/
/*        display: none;*/
/*    }*/
/*    .button-view-patient {*/
/*        display: none;*/
/*    }*/
/*    .button-view-patient-mobile {*/
/*        display: initial;*/
/*    }*/
/*}*/