@import url('https://rsms.me/inter/inter.css');
.add_stymul_container {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 20px;
    gap: 5px;
    margin-left: -40px;
}
.add_stymul_input {
    width: 300px;
    border: 1px solid #eee;
    padding-left: 10px;
    font-size: 20px;
}
.add_stymul_input::placeholder {
    color: #48535f;
}
.add_stymul_input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #48535f;
}
.add_stymul_input::-moz-placeholder {
    /* Firefox 19+ */
    color: #48535f;
}
.add_stymul_input:-ms-input-placeholder {
    /* IE 10+ */
    color: #48535f;
}
.add_stymul_input:-moz-placeholder {
    /* Firefox 18- */
    color: #48535f;
}
.add_stymul_button {
    font-size: 24px;
    font-weight: 600;
    color: #48535f;
    background-color: transparent;
    border: 1px solid #eee;
    height: 40px;
    width: 40px;
}
.program_upper_flex_container {
    display: flex;
    flex-direction: row;
}
.save_button_supervisor_mobile {
    display: none;
}

.program_big_flex_container {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    margin-left: 6vw;
    min-width: 90vw;
}

.each_element_grid_container {
    display: grid;
    grid-template-columns: 34vw auto;
}

.title_name {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.element_name {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.element_value {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}

.stymul_grid_container {
    display: grid;
    margin-left: -40px;
    grid-template-columns: 49.6vw 1vw;
    margin-bottom: 0px;
    margin-top: 16px;

    min-width: 200px;
    max-width: 200px;
}

.stymuls li:hover {
    transform: scale(1.002);
    text-decoration: underline 0.1px;
}

ul {
    list-style-type: none;
}

.step_grid_container {
    display: grid;
    grid-template-columns: 50vw 1vw;
    width: 200px;
}

.criterions li:hover {
    transform: scale(1.002);
    text-decoration: underline 0.1px;
}

.add_button {
    margin-left: -40px;
    background-color: transparent;
    border: none;
    margin-bottom: 4px;
    margin-top: 5px;
    height: 45px;
    margin-right: 5px;
}

.add_button:hover {
    margin-left: -40px;
    background-color: whitesmoke;
}

.program_link {
    color: black;
}

.program_link:hover {
    color: #48535f;
}

.delete_criterion {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 9px;
}

.delete_criterion:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.delete_stymul:hover {
    cursor: pointer;
    transform: scale(1.1);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .add_stymul_input {
        width: 10vw;
        font-size: 17px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .add_stymul_input {
        width: 300px;
        border: 1px solid #eee;
        padding-left: 10px;
        font-size: 20px;
    }
    .save_button_supervisor_mobile {
        display: initial;
        background: transparent;
        color: #ef4f59;
        padding: 0.5em 1em;
        border: 1px solid #ef4f59;
        cursor: pointer;
        font-family: Inter;
        font-weight: 500;
        line-height: 12px;
        font-size: 20px;
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
        height: 40px;
        position: relative;
    }
    .save_button_supervisor_mobile.btn-background-slide::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: #ef4f59;
        transition: transform 300ms ease-in-out;
        transform: scaleX(0);
        transform-origin: center;
    }

    .save_button_supervisor_mobile.btn-background-slide:hover::before {
        transform: scaleX(1);
    }

    .save_button_supervisor_mobile.btn-background-slide {
        transition: color 300ms ease-in-out;
        z-index: 1;
    }

    .save_button_supervisor_mobile.btn-background-slide:hover {
        color: white;
    }

    .each_element_grid_container {
        display: grid;
        grid-template-columns: 34vw auto;
    }

    .program_big_flex_container {
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        margin-left: -10px;
        min-width: 95vw;
        max-width: 90vw;
    }

    .element_name {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 13.5px;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .element_value {
        max-width: 50vw;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 40px;
        padding-right: 30px;
        min-width: 74vw;
        padding-left: 10px;
    }
}

@media screen and (min-width: 1300px) {
    .element_name {
        line-height: 55px;
    }
}

@media screen and (min-width: 1920px) {
    .element_name {
        line-height: 60px;
    }

    .program_big_flex_container {
        margin-right: 7vw;
    }
}
