.header{
    display: flex;
    margin: 0.5% 0 0 0;
    flex-direction: column;

}
.search{
    width: 18%;
    height: 3rem;
    font-size: 20px;
    align-self: center;
   line-height: 6rem;
    position: relative;
  
    box-sizing: border-box;
    border: none;
    text-align: start;
    border-bottom: silver solid 2px;
    background-color: white;
    
    /* background-image: url(/src/assets/icon.png);
    background-position: left center; 
    background-repeat: no-repeat; */

    /* padding: 1% 2% 0.5% 4; */

}
.search::placeholder{
    background: url(/src/assets/icon.png) no-repeat scroll left center;
    
    position: relative;
    align-self: center;
}

.search:focus{
    border-bottom: rgb(111, 111, 111) solid 2px;
        background-size: 22px;

}
.logo_hover:hover{
    cursor: pointer;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
    .header{
        display: none;
    }
}