.header{
    margin-right: 3rem;
}
.search{
    font-size: 20px;
    line-height: 30px;
    position: relative;
    width: 19.2%;
    left: 62.2%;
    box-sizing: border-box;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: silver solid 2px;
    background-color: white;
    background-image: url(/src/assets/icon.png);
    background-position: 10px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 5px 40px;

}
.search:hover{
    border-bottom: rgb(111, 111, 111) solid 2px;
    background-size: 22px;
}
.search:focus{
    border-bottom: rgb(111, 111, 111) solid 2px;
        background-size: 22px;

}