.sign_out_button:hover {
    cursor: pointer;
}
.logo_new_container {
    min-height: 5vw;
    max-height: 10vh;
    margin-bottom: -40px;
    display: initial;
}
@media only screen and (min-device-width: 992px) {
    .logo_new_container {
        display: none;
    }
}
