.save_button{
    background: rgba(239, 79, 89, 0.71);
    border: 1px solid #EF4F59;
    width: 306px;
    height: 48px;
    margin-left: 800px;
    margin-right: 30px;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 12px;
    color: #FFFFFF;

}