@import url('https://rsms.me/inter/inter.css');
.forgot-instructions {
    font-size: 1em;
    line-height: 1.5em;
}
.recover-password {
    font-size: 2em;
    color: var(--black);
    line-height: 3em;
}
.go-up {
    position: relative;
    top: -3em;
}
