.template_program_name{
    font-size: 24px;
    color: #48535F;
    font-weight: 600;
}
.template_place {
    width: 250px;
    height: 180px;
    background-color: #eeeeee;
    border-radius: 6px;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 5px;
    margin: 55px;

}
.template_place:hover {
    transform: scale(1.1);
    transition: 0.3s;

}
.grid_display_diagnosis{
    display: grid;
    grid-template-columns: 50% 50%;
    font-weight: 500;
    margin-top: 0.7rem;
    line-height: 2rem;
}
.white_back{
    background-color: white;
}

.template-grid {
    display: flex;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
    color: #48535F;
    font-size: 18px;
    padding-bottom: 80px;
}
.template-grid > div {
    margin: 6px;
  }

.template_age{
    padding-left: 0.3rem;
}
.template_age_value{
    text-align: right;
    padding-right: 0.3rem;
}
.template_protocols{
    padding-left: 0.3rem;
}
.template_protocols_value{
    text-align: right;
    padding-right: 0.3rem;
}
.template_diagnos{
    padding-left: 0.3rem;

}
.template_diagnos_value{
    text-align: right;
    padding-right: 0.3rem;

}
.grid_display_numbers{
    display: grid;
    grid-template-columns: 80% 20%;
    font-weight: 500;
    line-height: 2rem;
}
.choose_template_button_home{
    border-radius: 4px;
    height: 30px;
    background-color: #48535F;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 150px;
}
.choose_template_button_home:hover{
    cursor: pointer;
    background-color: #36404b;
    transform: scale(1.05);
    transition: 0.3s;

}
.template_buttons_container{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
}
.template_img{
    transform: scale(1.1);

    margin-top: 5px;
    }

.template_img:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.2s;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    
}
