@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}

.image-form-division {
    display: grid;
    grid-template-columns: 45vw 48vw;
    margin: 3vw;
    max-height: 87vh;
    min-height: 87vh;
}
.form {
    background-color: #f8fcff;
}
.sign-up-text {
    font-family: 'Inter', cursive;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #222222;
    line-height: 100px;
}
.image {
    background: url('../../assets/image 27.svg') center no-repeat;
    background-size: 42vw 90vh;
}
@media screen and (min-width: 800px) and (max-width:1300px){
    .sign-up-text{
        font-size: 30px;
        line-height: 200px;
    }
   .image-form-division {
        flex-direction: column;
        grid-template-columns: none;
       
    }
    .form {
        margin: 40px;
    }
    .image {
        background-size: 26vw 70vh;
    }
}
/* @media screen and (max-width: 850px){
    .sign-up-text{
        font-size: 30px;
        line-height: 200px;
    }
   .image-form-division {
        flex-direction: column;
        grid-template-columns: none;
       
    }
} */