input[type='file'] {
    height: 50px;
    display: none;
}
.download_image {
    font-family: 'Inter', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: grey;
}

.custom-file-upload {
    border-bottom: 3px solid #222222;
    padding: 6px 12px;
}
.input_image {
    height: 165px;
    width: 100%;
}
.image_container_simulator {
    background-color: #eff6fb;
    border: 1px solid var(--darkgrey);
    height: 165px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 1em;
    display: table-cell;
    vertical-align: middle;
}
.easy_nav_box_2 {
    position: relative;
    top: 1.6em;
}
