.third_form_select{
  margin-left: 10%;
  margin-right: 10%;
}
.third_form{
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
}
.third_form_submit {    
  position: relative;
  width: 390px;
  height: 50px;
  background: #7189BF;
  border: 2px solid #2A475B;
  box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;  
  font-family: 'Salsa', cursive; 
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: #D5E7FB;
  
    }
    

.work_text{
  position: relative;
  font-family: Segoe UI Historic;
  font-weight: normal;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #7189BF;
  margin-left: 40%;
  margin-right: auto;
  margin-top: -20px;
}
.therapist_check{
  margin-left: 13%;
  margin-top: 2%;
  font-family: 'Salsa', cursive; 
  font-weight: 400;
}