/* input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
} */
.signup1_nav {
    margin-bottom: 2em;
}
.easy_nav_box {
    position: relative;
    top: 4em;
}
.easy_nav {
    text-decoration: none;
    color: var(--darkgrey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.date_input {
    color: var(--lightgrey);
}
.date_text {
    font-size: 1.3em;
    color: var(--black);
}
.gender_text {
    font-size: 1.3em;
    color: var(--black);
}

.gender_container {
    position: relative;
    top: 3.5em;
    left: 5vw;
}
.mozilla_calendar {
    display: none;
}
@-moz-document url-prefix() {
    .gender_container {
        top: 4.5em;
    }
    .mozilla_calendar {
        display: initial;
    }
}
.genders-labels {
    position: relative;
    top: 3em;
}

.group input[type='checkbox'] {
    display: none;
}

.group label {
    position: relative;
    color: #48535f;
    font-family: 'Inter';
    font-size: 20px;
    text-transform: lowercase;
}

.group label::before {
    content: '';
    background: url('../../assets/tick_signup1.png');
    color: white;
    background-position: center;
    background-size: contain;
    width: 22px;
    height: 22px;
    position: absolute;
    left: -42px;
    top: -20px;
    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

.group input[type='checkbox']:checked + label::before {
    transform: scale(1) rotateZ(0deg);
}

.group label::after {
    content: '';
    border: 3px solid #48535f;
    width: 17px;
    height: 17px;
    position: absolute;
    left: -42px;
    top: -20px;
    border-radius: 50%;
}

@media screen and (min-width: 0px) and (max-width: 540px) {
    .sign-up-text {
        line-height: 1.8em;
        font-size: 1.8em;
        font-weight: 600;
    }
}
