@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}
.before_register {
    font-size: 28px;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 100px;
}
a {
    text-decoration: none;
    color: grey;
}
a:hover {
    color: #48535f;
}

.have_acc {
    padding-top: 70px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    color: #48535f;
    font-weight: 300;
    display: flex;
    font-family: 'Inter';
    font-size: 20px;
}
.icon_next {
    display: flex;
    position: static;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-bottom: 6px;
    margin-left: 85%;
    background: url(/src/assets/next_button.svg) no-repeat left center;
}
.icon_back {
    background: url(/src/assets/back_button.svg) no-repeat left center;
    display: flex;
    position: static;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
@media screen and (min-width: 1920px) {
    .before_register {
        font-size: 30px;
        text-align: center;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 150px;
    }
    a {
        text-decoration: none;
        color: grey;
    }
    a:hover {
        color: #48535f;
    }
}
