.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
}

.box {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(28.5% - 10px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}
.button_private {
    margin-left: 8%;
    margin-right: 8%;
    background: #48535f;
    padding: 0.5em 4em;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: white;
    text-decoration: none;
}
.button_public {
    margin-left: 8%;
    margin-right: 8%;
    background: #48535f;
    padding: 0.5em 4em;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: white;
    text-decoration: none;
}
.text_modul {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-align: center;
}
.button_modul {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.button-popup {
    text-align: center;
}
