.second-popup-box {
    position: absolute;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: auto;
    left: auto;
    z-index: 9999;
    margin-right: 925px;
    margin-top: -250px;
}

.second-box {
    position: relative;
    width: 35%;
    margin: auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
  
}

.second-close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(31.2% - 10px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}

.second-button_private {
    margin-left: 8%;
    margin-right: 8%;
    background: #48535f;
    padding: 0.5em 4em;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: white;
    text-decoration: none;

}

.second-button_public {
    margin-left: 8%;
    margin-right: 8%;
    background: #48535f;
    padding: 0.5em 4em;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: white;
    text-decoration: none;
}

.second-text_modul {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-align: center;
}

.second-button_modul {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

.second-button-popup {
    text-align: center;
}