@import url('https://rsms.me/inter/inter.css');
:root {
    --red: #ef4f59;
    --darkgrey: #48535f;
    --lightgrey: #6f6f6f;
    --black: #222222;
    --blue: #f8fcff;
}
body {
    margin: 0;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
